<h1>Leftover Dough</h1>
<h2>Confirm your email</h2>

<p>Confirm your email by using the button below</p>

<p>This button will last until <%= @expiration_time %></p>

<p>Any new buttons sent after this will disable this one</p>

<p>If you have any questions, reply to this email</p>

<p>Thanks!<br />
Joseph M. Sak<br />
Founder, Developer of leftoverdough.com</p>