<tr>
  <td class="content-block">
    <h1>Leftover Dough</h1>
    <h2>Confirm your email</h2>
  </td>
</tr>

<tr>
  <td class="content-block">
    Confirm your email by using the button below:
  </td>
</tr>

<tr>
  <td class="content-block">
    <a href="<%= @confirmation_url %>" class="btn-primary">Confirm your email</a>
  </td>
</tr>

<tr>
  <td class="content-block">
    This button will last until
    <strong>
      <%= @expiration_time %>, in the
      <%= Time.current.strftime("%Z") %> / <%= Time.zone.name %>
      time zone.
    </strong>
  </td>
</tr>

<tr>
  <td class="content-block">
    If you request a new button, it will disable this one.
  </td>
</tr>