<tr>
  <td class="content-block">
    <h1>Leftover Dough</h1>
    <h2>Sign in to your account</h2>
  </td>
</tr>

<tr>
  <td class="content-block">
    Sign in to your account by using the button below:
  </td>
</tr>

<tr>
  <td class="content-block">
    <a href="<%= @signin_url %>" class="btn-primary">Sign in to your account</a>
  </td>
</tr>

<tr>
  <td class="content-block">
    This button will last until
    <strong>
      <%= @time %>, in the
      <%= Time.current.strftime("%Z") %> / <%= Time.zone.name %>
      time zone.
    </strong>
  </td>
</tr>

<tr>
  <td class="content-block">
    If you request a new button, it will disable this one.
  </td>
</tr>