<h1>Leftover Dough</h1>
<h2>Sign in to your account</h2>

<p>Sign in to your account by using the button below</p>

<a href="<%= @signin_url %>">Sign in to your account</a>

<p>This button will last until <%= @time %></p>

<p>Any new buttons sent after this will disable this one</p>

<p>If you have any questions, reply to this email</p>

<p>Thanks!<br />
Joseph M. Sak<br />
Founder, Developer of leftoverdough.com</p>