@import "reflex";

label {
  display: block;
  cursor: pointer;
}

form {
  margin: 1rem 0;
}

.margin--none {
  margin: 0;
}

.padding--none {
  padding: 0;
}

.list-style--none {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
}