<h6>Features:</h6>

<ul>
  <li>A clutter-free interface optimized for <strong>fast &amp; easy</strong> data entry</li>
  <li>No 3rd-party tracking, <strong>no ads</strong>, no upselling of "offers"</li>
  <li><strong>Timely support</strong> direct from the developer</li>
  <li>Your personal info and <strong>your data will never be shared</strong> or sold</li>
</ul>