
<h4>Leftover Dough</h4>

<h5>An expense tracker for the minimalist</h5>

<p>
  Keep track of how much spending money you have left
  between paychecks
</p>

<h6>Features:</h6>

<ul>
  <li>Simple, clutter-free interface</li>
  <li>No 3rd-party tracking</li>
  <li>No advertising</li>
  <li>No sponsored offers</li>
  <li>No password to remember</li>
  <li>No connections to bank accounts</li>
  <li>Your personal information and data will never be sold, shared, rented, or traded</li>
</ul>

<h6>Pricing plans:</h6>

<p>You will get all features for <strong>$4 / month,</strong> paid monthly</p>

<h6>How does it work?</h6>

<ol>
  <li>Enter your pay period / income information</li>
  <li>Conifgure your recurring bills in each period</li>
  <li>Track your expenses as you spend them</li>
  <li>See how much you have left to spend until your next paycheck</li>
</ol>