
<h4>Leftover Dough</h4>

<p>
  Leftover Dough is an expense tracker to help us answer the question:
  <strong>how much money do I have left?</strong>
</p>

<p>
  Our bank account balances don't always give us an accurate picture of reality.
  Bills won't be paid for a few days or more, and debit card transactions can
  take several days to appear. This makes it difficult to know how much we
  truly have left to spend.
</p>

<p>
  Leftover Dough is designed to help people like us keep daily track of exactly
  how much is left until our next paycheck.
</p>

<h6>Features:</h6>

<ul>
  <li>Clutter-free interface optimized for <strong>fast &amp; easy</strong> data entry</li>
  <li>One simple pricing plan, just a <strong>$4 / month</strong></li>
  <li>No 3rd-party tracking, <strong>no ads</strong>, no lame-ass sponsored "offers"</li>
  <li>No messing around with clumsy automatic bank connections</li>
  <li>No password to remember</li>
  <li><strong>Timely support</strong> direct from the developer</li>
  <li>Your personal info and <strong>your data will never be shared</strong> or sold</li>
</ul>

<h6>How does it work?</h6>

<ol>
  <li>Configure your pay period &amp; income information</li>
  <li>Setup your recurring bills for each pay period</li>
  <li>Track your expenses manually as you spend them</li>
  <li>See how much you have left to spend until your next paycheck</li>
</ol>