<h6>Pricing &amp; Refunds:</h6>

<ul>
  <li>Your <strong>first 30 days are free</strong>, no credit card required</li>
  <li>One simple pricing plan, only <strong>$4 / month</strong></li>
  <li>Leave at any time, <strong>no questions asked refund policy</strong> for your most recent charge</li>
</ul>