<h6>How it works</h6>

<ol>
  <li>Configure your pay period &amp; income information</li>
  <li>Setup your recurring bills for each pay period</li>
  <li>Track your expenses manually as you spend them</li>
  <li>See how much you have left to spend until your next paycheck</li>
</ol>