<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Leftover Dough Email</title>
    <%= stylesheet_link_tag 'email' %>
    <meta name="format-detection" content="telephone=no">
  </head>

  <body>

    <table class="body-wrap">
      <tr>
        <td></td>
        <td class="container" width="600">
          <div class="content">
            <table class="main" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td class="content-wrap">
                  <table width="100%" cellpadding="0" cellspacing="0">
                    <%= yield %>

                    <tr>
                      <td class="content-block">
                        If you have any questions, you can reply to this email.
                      </td>
                    </tr>

                    <tr>
                      <td class="content-block">
                        Thanks!<br />
                        Joseph M. Sak<br />
                        Founder and Developer of leftoverdough.com
                      </td>
                    </tr>

                    <tr>
                      <td class="content-block">
                        [<%=raw Time.current.to_f.to_s.split("").join("&zwnj;") %>]
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  </body>
</html>